.MenuContainer {
  display: flex;
}

.Menu {
  flex-grow: 1;
  font-size: calc(10px + 2vmin);
  padding-top: 4px;
  text-align: center;
}

.Image {
  max-height: calc(15px + 2vmin);
  flex-grow: 1;
}
