.Container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Find {
    width: 60%;
    height: calc(15px + 2vmin);
}

.FindButton {
    max-height: calc(15px + 2vmin);
    margin-left: 5px;
}

.HomePage {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#find {
    margin-top: calc(20px + 2vmin);
    flex-grow: 1;
}

#post {
    flex-grow: 4;
}