#info {
  margin: 20px 10px;
}

.profileImage {
  float: left;
}

#goodTipText {
  font-weight: bold;
  color: #39e5b6;
}

.btnCreatePost {
  width: 100%;
  background: none;
  border: none;
  border-top: 1px solid #f0f0f0;
  padding: 7px 0px;
}
